.wrapper {
left:50%;
width:600px;
margin:auto;
}

.caroufredsel_wrapper {
   max-height: 28px;
}

html {
background-color:#ecf0f1;
}

img {
   height: 20px;
}
div.active_carousel {
   background-color: #bae3ff;
}

@font-face {font-family:Lassus;src:url(http://demteam.org/Lassus.woff);}

span.music {
   font-size: 100pt;
   font-family: Lassus;
}

h1 {
font-family: sans-serif;
font-size: 30pt;
text-align: center;
}

.top {
padding-left: 50pt;
padding-top: 50pt;
padding-bottom: 30pt;
}

.footer {
bottom: 50px;
}




